RESEND_API_KEY=
CONTACT_EMAIL=sales@enfield.co.zw
FROM_EMAIL=website@your-verified-domain.example
TURNSTILE_SECRET_KEY=
PUBLIC_TURNSTILE_SITE_KEY=
PUBLIC_SITE_URL=https://www.enfield.co.zw
PUBLIC_GA_ID=
